#block1{
	clear:left;
	float: left;
	height: 100px;
	width:100px;
	text-align:right;
	margin: 5px;
	border-right: 5px solid gray;
	padding-right: 10px;
	font-weight: bold;
}
#block2{
	float: left;
	height: auto;
	width:auto;
	margin: 5px;
}
img{
	height:210px;
	width:200px;
}
#image{
	position:absolute;
	margin-left:500px;
}
#header{
	float:left;
	border-bottom:5px solid gray;
	height: 60px;
	width:500px;
	margin-bottom:10px;
}
#info{
	clear:left;
	height:auto;
	width:500px;
	
}
heading{
	font-weight: bold;
}
